<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <!--<add name="Default" connectionString="User ID=monsters;Password=monsters123;Host=dev.kjeldcon.se;Port=5432;Database=monsters;Pooling=true;Min Pool Size=0;Max Pool Size=100;Connection Lifetime=0;" providerName="System.Data.SqlClient" />-->
        <add name="fox_test" connectionString="Server=dev.kjeldcon.se;Port=5432;Userid=fox;Password=fox123;Pooling=false;MinPoolSize=1;MaxPoolSize=20;Timeout=15;SslMode=Disable;Database=fox_test" />
    </connectionStrings>
</configuration>